body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#template {
	display: none;
}

#chat {
	background-color: #414141;
	height: 500px;
	color: white;
	border-radius: 5px;
}


#chatter {
	font-family: 'Pacifico', cursive;
	font-size: 70px;
}

input {
	margin: 5px;
}

.authbtn {
	background-color: black;
	color: white;
}

#message-input {
	width: 500px;
	height: 40px;
}